<ul class="stats-list">
  <li>
    <span class="stats-list-label">From</span>
    <%= data[:first_day]&.strftime("%b %d, %Y") %>
  </li>
  <li>
    <span class="stats-list-label">To</span>
    <%= data[:last_day]&.strftime("%b %d, %Y") %>
  </li>
  <li class="stats-list-positive">
    <span class="stats-list-label">Days in Log</span>
    <%= data[:total_days] %>
  </li>
  <% if data[:log_size] %>
  <li class="stats-list-negative">
    <span class="stats-list-label">Total Entries</span>
    <%= data[:log_size] %>
  </li>
  <% end %>
  <% if data[:selfpolls_size] %>
  <li class="stats-list-negative">
    <span class="stats-list-label">Self Polls</span>
    <%= data[:selfpolls_size] %>
  </li>
  <% end %>
  <% if data[:crawlers] %>
    <li class="stats-list-negative">
    <span class="stats-list-label">Crawlers</span>
    <%= data[:crawlers_size] %>
  <% end %>
  </li>
</ul>

