<%
def slugify string
  string.downcase.gsub(/ +/, '-')
end
%>

<table id="table-<%= index %>" class="table unstriped">
  <thead>
    <tr>
      <% report[:header].each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<script>
 $(document).ready(function(){
   $('#table-<%= index %>').dataTable({
     data: data_<%= index %>,
     <%= report[:datatable_options] + "," if report[:datatable_options] %>
     columns: [
       <% report[:header].each do |header| %>
       { data: '<%= header %>', className: '<%= slugify(header) %>' },
       <% end %>
     ]
   });
 });
</script>
