<%
def slugify string
  string.downcase.gsub(/ +/, '-')
end
%>

<table id="<%= slugify(title || "") %>-table" class="table unstriped data-table <%= slugify(title || "") %>">
  <thead>
    <tr>
      <% header.each do |heading| %>
        <th class="<%= slugify(heading) %>"><%= heading %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% rows.each do |row| %>
      <tr>
        <% row.each_with_index do |cell, i| %>
          <td class="<%= slugify (header[i] || "") %>"><%= cell %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

