<table class="table unstriped performance">
  <tbody>
    <tr>
      <th>Analysis started at</th>
      <td><%= data[:started_at].to_s %></td>
    </tr>
    <tr>
      <th>Analysis ended at</th>
      <td><%= data[:ended_at].to_s %></td>
    </tr>
    <tr>
      <th>Duration</th>
      <td><%= "%02d:%02d" % [data[:duration] / 60, data[:duration] % 60] %></td>
    </tr>
    <tr>
      <th>Events</th>
      <td><%= data[:log_size] %></td>
    </tr>
    <tr>
      <th>Parsed Events/sec</th>
      <td><%= "%.2f" % (data[:log_size] / data[:duration]) %></td></tr>
  </tbody>
</table>
