<ul class="stats-list">
  <li>
    <span class="stats-list-label">From</span>
    <%= data[:first_day_in_analysis]&.strftime("%b %d, %Y") %>
  </li>
  <li>
    <span class="stats-list-label">To</span>
    <%= data[:last_day_in_analysis]&.strftime("%b %d, %Y") %>
  </li>
  <li class="stats-list-positive">
    <span class="stats-list-label">Days</span>
    <%= data[:total_days_in_analysis] %>
  </li>
  <% if data[:total_size] %>
    <li class="stats-list-positive">
      <span class="stats-list-label">Data Transferred</span>
      <%= data[:total_size] %>
    </li>
  <% end %>
  <li class="stats-list-negative">
    <span class="stats-list-label">Hits</span>
    <%= data[:events] %>
  </li>
  <li class="stats-list-negative">
    <span class="stats-list-label">Unique Visits</span>
    <%= data[:total_unique_visits] %>
  </li>
  <li class="stats-list-negative">
    <span class="stats-list-label">Unique Visits / Day</span>
    <% days = data[:total_days_in_analysis] %>
    <%= days > 0 ? "%d" % (data[:total_unique_visits] / days) : "N/A" %>
  </li>
  <li class="stats-list-negative">
    <span class="stats-list-label">Hits / Unique Visitor</span>
    <%= data[:total_unique_visits] != 0 ? data[:events] / data[:total_unique_visits] : "N/A" %>
  </li>
</ul>
