<ul class="stats-list">
  <li>
    <%= data[:first_day_in_analysis].strftime("%b %d, %Y") %>
    <span class="stats-list-label">From</span>
  </li>
  <li>
    <%= data[:last_day_in_analysis].strftime("%b %d, %Y") %>
    <span class="stats-list-label">To</span>
  </li>
  <li class="stats-list-positive">
    <%= data[:total_days_in_analysis] %> <span class="stats-list-label">Days</span>
  </li>
  <li class="stats-list-negative">
    <%= data[:total_hits] %> <span class="stats-list-label">Hits</span>
  </li>
  <li class="stats-list-negative">
    <%= data[:total_unique_visits] %> <span class="stats-list-label">Unique Visits</span>
  </li>
  <li class="stats-list-negative">
    <% days = data[:last_day_in_analysis] - data[:first_day_in_analysis] %>
    <%= days > 0 ? "%d" % (data[:total_unique_visits] / days) : "N/A" %>
    <span class="stats-list-label">Unique Visits / Day</span>
  </li>
  <li class="stats-list-negative">
    <%= data[:total_unique_visits] != 0 ? data[:total_hits] / data[:total_unique_visits] : "N/A" %>
    <span class="stats-list-label">Hits / Unique Visitor</span>
  </li>
</ul>
