<table class="table unstriped log-structure">
  <tbody>
    <tr>
      <th>Input file</th>
      <td><b><%= (data[:log_file] || "stdin") %></b></td>
    </tr>
    <tr>
      <th>Period in Log</th>
      <td><%= data[:first_day] %> -- <%= data[:last_day] %></td>
    </tr>
    <tr>
      <th>Total days</th>
      <td><%= data[:total_days] %></td>
    </tr>
    <tr>
      <th>Log size</th>
      <td><%= data[:log_size] %></td>
    </tr>
    <tr>
      <th>Self poll entries</th>
      <td><%= data[:selfpolls_size] %></td>
    </tr>
    <tr>
      <th>Crawlers</th>
      <td><%= data[:crawlers_size] %></td>
    </tr>
    <tr>
      <th>Entries considered</th>
      <td><%= data[:total_hits] %></td>
    </tr>
  </tbody>
</table>
