<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title><%= @report_title %></title>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="Shair.Tech">
    <meta name="description"
          content="Analysis of <%= @data[:filenames].join(', ') %>">

    <%= render "cdn_links.html.erb" %>

    <style>
     <%= render @format_specific_theme %>
     <%= render "stylesheet.css" %>
     <%= render @format_specific_css %>
    </style>
  </head>

  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
        <%= render "navigation.html.erb",
                   menus: @reports.map { |x| x[:title] } %>
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        <button id="toggle-button" type="button" data-toggle="offCanvas">
          &#9776;
        </button>

        <section class="main-section grid-container fluid">
          <h1><%= options[:title] || "Log Sense #{@report_title} Log Report" %></h1>

          <p>
            <b>Input File(s):</b>
            <%= @data[:filenames].empty? ? "stdin" : @data[:filenames].join(", ") %>
          </p>

          <div class="grid-x grid-padding-x">
            <article class="small-12 large-6 cell">
              <h2 id="<%= Emitter::slugify "Summary" %>">Summary</h2>
              <%= render "summary.html.erb", data: @data %>
            </article>

            <article class="small-12 large-6 cell">
              <h2 id="<%= Emitter::slugify "Summary" %>">Log Structure</h2>
              <%= render "log_structure.html.erb", data: @data %>
            </article>

            <% @reports.each_with_index do |report, index| %>
              <article class="cell <%= report[:col] || "small-12 large-6" %>" >
                <h2 id="<%= Emitter::slugify report[:title] %>">
                  <%= report[:title] %>
                </h2>

                <% if report[:rows] %>
                  <%= render "report_data.html.erb", report: report, index: index %>
                <% end %>
                <% if report[:vega_spec] %>
                  <div id="<%= "plot-#{index}" %>" class="plot-canvas">
                  </div>
                  <script>
                   plot_spec_<%= index %> = Object.assign(
                     <%= report[:vega_spec].to_json %>,
                     { "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
                       width: "container",
                       height: 400,
                       description: "<%= report[:title] %>",
                       data: {
                         values: data_<%= index %>
                       },
                   });
                   vegaEmbed('#<%= "plot-#{index}"%>', plot_spec_<%= index %>);
                  </script>
                <% end %>
                <% if report[:echarts_spec] %>
                  <% height = report[:echarts_height] || "400px"%>
                  <div id="<%= "echart-#{index}" %>" style="width: 100%;height: <%= height %>;"></div>
                  <script>
                   // Initialize the echarts instance based on the prepared dom
                   <%= report[:echarts_extra] %>;
                   var plot_index = "<%= "echart-#{index}" %>"
                   var myChart = echarts.init(document.getElementById(plot_index));
                   var options = <%= report[:echarts_spec].gsub("SERIES_DATA", "data_#{index}") %>
                   myChart.setOption(options)

                  </script>
                <% end %>
                <% if report[:rows] %>
                  <%= render "output_table.html.erb", report: report, index: index %>
                <% end %>
              </article>
            <% end %>

            <article class="small-12 large-6 cell">
              <h2 id="<%= Emitter::slugify "Command Invocation" %>">Command Invocation</h2>
              <%= render "command_invocation.html.erb", data: @data, options: options %>
            </article>

            <article class="small-12 large-6 cell">
              <h2 id="<%= Emitter::slugify "Performance" %>">Performance</h2>
              <%=  render "performance.html.erb", data: @data %>
            </article>
          </div>
        </section>
      </div>
    </div>

    <script>
     $(document).foundation();

     $(document).ready(function () {
       $('.data-table').each(function () {
         $(this).DataTable();
       });
     });
    </script>
  </body>
</html>
